* {
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-primarytext: #B2B2B2;
}

.root {
    -fx-background-color: -fx-primary;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-pref-height: 15px;
    -fx-border-radius: 10px;
    -fx-background-radius: 15px;
    -fx-font-size: 10pt;
}

.button:hover, .button:focused {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field {
    -fx-font-size: 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.text-area {
    -fx-font-size: 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab {
    -fx-background-color: -fx-primary;
    -fx-pref-height: 30;
    -fx-pref-width: 100;
    -fx-border-radius: 8 10 0 0;
    -fx-border-width: 1.5 1.5 0 1.5;
    -fx-border-color: -fx-secondary;
    -fx-border-insets: 1;
}

.tab-header-background {
    -fx-background-color: -fx-primary;
}

.tab-label {
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
}

.tab-main {
    -fx-pref-height: 60;
    -fx-max-height: 60;
}

.settings-tab {
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected {
    -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label {
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background {
    -fx-background-color: derive(-fx-primary, -50%);
}

/*Menu bar Styling*/
.menu-bar {
    -fx-font-size: 14;
    -fx-base: -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu {
    -fx-background-color: derive(-fx-primary, 20%);
}

/*Toolbar buttons*/
.toolbar-button {
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.toolbar-button:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon, .toolbar-button:hover .glyph-icon {
    -fx-fill: -fx-primary;
}

/*Text styling*/
.main-text {
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container {
    -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button {
    -fx-border-color: -fx-color-1;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
}

.jfx-layout-actions {
    -fx-hgap: 8;
}

/*Custom window background*/
.custom-pane {
    -fx-background-color: derive(-fx-primary, 5%);
}

/*JFXDialog styling*/
.jfx-layout-heading {
    -fx-background-color: -fx-secondary;
}

.jfx-layout-heading .label {
    -fx-text-fill: black;
    -fx-font-size: 12pt;
}

.jfx-layout-body, .jfx-layout-actions {
    -fx-background-color: -fx-primary;
}

.jfx-layout-body .label {
    -fx-text-fill: white;
    -fx-padding: 20px 0 0 0;
}

.head-label {
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.usual-label {
    -fx-wrap-text: true;
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}

.post_item {
    -fx-wrap-text: true;
    -fx-font-size: 13px;
}

.hint-label {
    -fx-pref-width: 480;
    -fx-pref-height: 500;
    -fx-wrap-text: true;
    -fx-fill: white;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
}

.scroll-bar {
    -fx-opacity: 0;
    -fx-padding: -7;
    -fx-max-width: 0;
    -fx-pref-width: 0;
}